@model BoxingWebApp.ViewModels.BoxersListViewModel

@{
    ViewBag.Title = "Index";

    var userIsAdmin = AuthorizeExtensions.CurrentUserIsAdmin();
}
<h2 class="gridHeader">@BoxingResources.Boxers</h2>


<table class="gridTable">
    <tr>
        <th colspan="2">
            @BoxingResources.BoxersInfo
        </th>
    </tr>
    @if (userIsAdmin)
    {
        <tr class="commandRow">
            <td colspan="2">
                @Html.ActionLink(BoxingResources.AddNew, "Create", null, new { @class = "boxingButton" })
            </td>
        </tr>
    }
    <tr>
        <td class="headerColumn">
            @BoxingResources.Boxer
        </td>
        @if (userIsAdmin)
        {
            <td class="headerColumn">
                @BoxingResources.Actions
            </td>
        }
    </tr>
    @if (Model.Items != null)
    {
        foreach (var item in Model.Items)
        {
            <tr>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (userIsAdmin)
                {
                    <td class="actionsColumn">
                        @Html.ActionLink(BoxingResources.Edit, "Edit", new { id = item.Id })
                        @Html.ActionLink(BoxingResources.Delete, "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="noObjectsRow" colspan="2">
                @BoxingResources.NoBoxersEntered
            </td>
        </tr>
    }
    <tr class="pagerTr">
        <td class="pagerTd" colspan="2">
            @Html.Pager("boxers", (int?)ViewData["Page"], (int?)ViewData["PageSize"])

        </td>
    </tr>
</table>
