@model BoxingWebApp.ViewModels.PredictionsDetailsViewModel
@{
    if (!AuthorizeExtensions.IsAuthenticated())
    {
        throw new UnauthorizedAccessException();
    }

    var predictedBoxer = ViewData["PredictedBoxer"] as BoxingWebApp.ViewModels.BoxersListItem;
    var boxers = ViewData["Boxers"] as List<BoxingWebApp.ViewModels.BoxersListItem>;
}
<h2 class="gridHeader">@ViewBag.Title</h2>
<div class="centeredPanel buttonPanel">
    Who will win?
    @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @class = "boxingForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.MatchId)

        <div class="buttonWrapper">
            @if (predictedBoxer != null)
            {
                if (boxers.FirstOrDefault() != null)
                {
                    <input type="submit" value="@boxers.FirstOrDefault().Name" class="boxingButton" name="@boxers.FirstOrDefault().Id.ToString()" />
                    <text>vs</text>
                }
                <input type="submit" value="@predictedBoxer.Name &#10004;" class="boxingButton boxingButton-selected" name="@predictedBoxer.Id.ToString()" />
                if (boxers.LastOrDefault() != null)
                {
                    <text>vs</text>
                    <input type="submit" value="@boxers.LastOrDefault().Name" class="boxingButton" name="@boxers.LastOrDefault().Id.ToString()" />
                }
            }
            else
            {
                <input type="submit" value="@boxers.FirstOrDefault().Name" class="boxingButton" name="@boxers.FirstOrDefault().Id.ToString()" />
                <text>vs</text>
                <input type="submit" value="@boxers.LastOrDefault().Name" class="boxingButton" name="@boxers.LastOrDefault().Id.ToString()" />
            }
        </div>
        <text>or</text>
        <br /><br />
        @Html.ActionLink("Cancel this prediction", "Delete", new { id = Model.Id }, new { @class = "boxingButton", onclick = "return confirm('Are you sure you want to cancel your prediction?')" })
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
