@using Boxing.Contracts.Resources

@model BoxingWebApp.ViewModels.MatchesListItem
@{
    if (!AuthorizeExtensions.IsAuthenticated())
    {
        throw new UnauthorizedAccessException();
    }

    if (!AuthorizeExtensions.CurrentUserIsAdmin())
    {
        Response.RedirectToRoute("~/Index");
    }
}
<h2 class="gridHeader">@ViewBag.Title</h2>

@if (Model.WinnerId != null)
{
    <text>MATCH ALREADY FINISHED</text>
}
else
{
    <div class="centeredPanel buttonPanel">
        Who won?<br />
        <div class="buttonWrapper">
            @Html.ActionLink(Model.Boxer1.Name, "Finish", "Matches", null, new { @id = Model.Boxer1Id, @class = "boxingButton formButton" })
            or
            @Html.ActionLink(Model.Boxer2.Name, "Finish", "Matches", null, new { @id = Model.Boxer2Id, @class = "boxingButton formButton" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(".formButton").click(function (e) {
            e.preventDefault();
            var id = @Model.Id;
            var winnerId = $(this)[0].id;
            var newUrl = updateQueryStringParameter(window.location.href, 'winnerId', winnerId);
            $.ajax({
                type: "POST",
                url: newUrl,
                success: function() {
                    var url = window.location.href;
                    var pos = url.lastIndexOf('/');
                    if (pos != -1)
                    {
                        url = url.substr(0, pos);
                    }
                    pos = url.lastIndexOf('/');
                    if (pos != -1)
                    {
                        url = url.substr(0, pos);
                    }
                    var newUrl = url + "/index";
                    window.location.replace(newUrl);
                },
            });


        });
    </script>
}
