@using Boxing.Contracts.Resources

@model BoxingWebApp.ViewModels.MatchesListViewModel
@{
    if (!AuthorizeExtensions.IsAuthenticated())
    {
        throw new UnauthorizedAccessException();
    }

    var userIsAdmin = AuthorizeExtensions.CurrentUserIsAdmin();

    var predictions = ViewData["Predictions"] as List<BoxingWebApp.ViewModels.PredictionsListItem>;
    if (predictions == null)
    {
        predictions = new List<BoxingWebApp.ViewModels.PredictionsListItem>();
    }

    ViewBag.Title = "Index";

    var page = (int?)ViewData["Page"] != null ? ((int?)ViewData["Page"] - 1) : 0;
    var pageSize = (int?)ViewData["PageSize"] ?? 10;

    var paramsDictionary = new Dictionary<string, object>();
    var pastUnfinished = false;
    if (userIsAdmin && ViewData["PastUnfinished"] != null)
    {
        paramsDictionary.Add("pastUnfinished", (bool)ViewData["PastUnfinished"]);
        pastUnfinished = (bool)ViewData["PastUnfinished"];
    }
}
<h2 class="gridHeader">@BoxingResources.Matches</h2>


<table class="gridTable">
    <tr>
        <th colspan="5">
            @BoxingResources.MatchesInfo
        </th>
    </tr>
    <tr class="commandRow">
        <td colspan="5">
            @if (userIsAdmin)
            {
                var pastUnfinishedCheckbox = Html.CheckBox("PastUnfinished", pastUnfinished, new { onclick = "pastUnfinishedCheckboxClick(this);" });
                var tuple = new Tuple<MvcHtmlString, string, string>(pastUnfinishedCheckbox, "PastUnfinished", "Only past unfinished");
                @Html.MainToolbar(addable: true, searchable: true, searchString: ViewData["SearchString"] as string, additionalObjects: tuple)
            }
            else {
                @Html.MainToolbar(searchable: true, searchString: ViewData["SearchString"] as string)
            }
        </td>
    </tr>
    <tr>
        <td class="headerColumn">
            @BoxingResources.Match
        </td>
        <td class="headerColumn">
            @BoxingResources.Address
        </td>
        <td class="headerColumn">
            @BoxingResources.Time
        </td>
        <td class="headerColumn">
            @BoxingResources.Description
        </td>
        @if (!userIsAdmin)
        {
            <td class="headerColumn">
                Predict
            </td>
        }
        else
        {
            <td class="headerColumn">
                @BoxingResources.Actions
            </td>
        }
    </tr>
    @if (Model.Items != null)
    {
        var matches = Model.Items.OrderBy(m => m.Time);
        foreach (var item in matches)
        {


            string winner = null;
            if (item.WinnerId != null)
            {
                if (item.WinnerId == item.Boxer1Id)
                {
                    winner = item.Boxer1.Name;
                }
                else
                {
                    winner = item.Boxer2.Name;
                }
            }

            <tr class="displayRow">
                <td class="displayColumn">
                    <span style="font-weight:bold;"> @Html.DisplayFor(modelItem => item.Boxer1.Name) </span> vs <span style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Boxer2.Name)</span>
                </td>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="displayColumn">
                    @if ((item.Time - DateTime.MaxValue).Minutes == 0)
                    {
                        <text>-</text>
                    }
                    else
                    {
                        @item.Time.ToString("dd/MM/yyyy, HH:mm")
                    }
                </td>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (!userIsAdmin)
                {
                    var prediction = predictions.FirstOrDefault(p => p.MatchId == item.Id);
                    var text = "Predict";
                    if (prediction != null)
                    {
                        var boxer = item.Boxer1;
                        if (prediction.PredictedBoxerId == item.Boxer2Id)
                        {
                            boxer = item.Boxer2;
                        }
                        text = "Predicted: " + boxer.Name;
                    }
                    else if (winner != null)
                    {
                        text = "Finished";
                    }

                    <td class="displayColumn">
                        @if ((item.Time - DateTime.MaxValue).Days == 0)
                        {
                            <text><span style="font-weight:bold;color:#800;">Cancelled</span></text>
                        }
                        else if (winner == null)
                        {
                            @Html.ActionLink(text, "Predict",
                                             controllerName: "Predictions",
                                             routeValues: new { parentId = item.Id },
                                             htmlAttributes: null)
                        }
                        else
                        {
                            <text>@text<br />Winner: @winner</text>
                        }
                    </td>
                }
                else
                {
                    <td class="actionsColumn">
                        @if ((item.Time - DateTime.MaxValue).Days == 0) // Then it's cancelled
                        {
                            <text><span style="font-weight:bold;color:#800;">Cancelled</span></text>
                        }
                        else if (item.WinnerId != null) // Then it's finished
                        {
                            <text><span style="font-weight:bold;color:#080;">Finished. Winner: @winner</span></text>
                        }
                        else
                        {

                            @Html.ActionLink("Finish", "Finish", new
                       {
                           id = item.Id
                       })
                            <br />
                            @Html.ActionLink("Cancel", null, null, htmlAttributes: new { onclick = "cancelMatchClicked(" + item.Id + ");" })
                        }
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="noObjectsRow" colspan="5">
                @BoxingResources.NoMatchesEntered
            </td>
        </tr>
    }
    <tr class="pagerTr">
        <td class="pagerTd" colspan="5">
            @Html.Pager("matches", (int?)ViewData["Page"], (int?)ViewData["PageSize"], search: (string)ViewData["SearchString"], otherQueryParams: paramsDictionary)
        </td>
    </tr>
</table>

<script type="text/javascript">
    function cancelMatchClicked(matchId) {
        debugger;
        var oldUrl = window.location.href;
        var newUrl = "@Url.Action("Cancel", "Matches")/" + matchId
        if (confirm("Are you sure you want to cancel this match? You won't be able to undo the changes.")) {
            $.ajax({
                type: "POST",
                url: newUrl,
                success: function () {
                    window.location.replace(oldUrl);
                },
            });
        }
    }

    function pastUnfinishedCheckboxClick(checkbox) {
        var newUrl = updateQueryStringParameter(window.location.href, "pastUnfinished", checkbox.checked);
        window.location.replace(newUrl)
    }
</script>