@using Boxing.Contracts.Resources

@model BoxingWebApp.ViewModels.UsersListViewModel
@{
    ViewBag.Title = "Index";

    if (!AuthorizeExtensions.IsAuthenticated())
    {
        Response.RedirectToRoute("~/Logins/Login?error=unauthorized");
    }

    var sort = ViewData["Sort"] as string;
    var sortOrder = ViewData["Order"] as string;
    var page = (int?)ViewData["Page"] != null ? ((int?)ViewData["Page"] - 1) : 0;
    var pageSize = (int?)ViewData["PageSize"] ?? 10;
}
<h2 class="gridHeader">@BoxingResources.Users</h2>


<table class="gridTable">
    <tr>
        <td class="headerColumn">
            @BoxingResources.Username
        </td>
        <td class="headerColumn">
            @Html.ActionLink(BoxingResources.FullName + (sort == "fullname" ? (sortOrder == "asc" ? " \u2193" : " \u2191") : string.Empty),
                             "Index",
                             new { sort = "fullname", order = (sort == "fullname" && sortOrder == "asc" ? "desc" : "asc") })
        </td>
        <td class="headerColumn">
            @Html.ActionLink("Rating" + (sort == "rating" ? (sortOrder == "asc" ? " \u2193" : " \u2191") : string.Empty),
                              "Index",
                              new
                              {
                                  sort = "rating",
                                  order = (sort == "rating" && sortOrder == "asc" ? "desc" : "asc"),
                                  skip = (page * pageSize),
                                  take = pageSize
                              })
        </td>
    </tr>
    @if (Model.Items != null)
    {
        foreach (var item in Model.Items)
        {
            <tr class="displayRow">
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="noObjectsRow" colspan="2">
                @BoxingResources.NoUsersEntered
            </td>
        </tr>
    }
    <tr class="pagerTr">
        <td class="pagerTd" colspan="2">
            @Html.Pager("users", (int?)ViewData["Page"], (int?)ViewData["PageSize"], sort, sortOrder)
        </td>
    </tr>
</table>