@using Boxing.Contracts.Resources

@model BoxingWebApp.ViewModels.UsersListViewModel
@{
    ViewBag.Title = "Index";

    //if (!AuthorizeExtensions.IsAuthenticated())
    //{
    //    throw new UnauthorizedAccessException();
    //}

    var sort = ViewData["Sort"] as string;
    var sortOrder = ViewData["Order"] as string;
    var page = (int?)ViewData["Page"] != null ? ((int?)ViewData["Page"] - 1) : 0;
    var pageSize = (int?)ViewData["PageSize"] ?? 10;

    var userIsAdmin = AuthorizeExtensions.CurrentUserIsAdmin();
}
<h2 class="gridHeader">@BoxingResources.Users</h2>


<table class="gridTable">
    <tr>
        <td class="headerColumn">
            @BoxingResources.Username
        </td>
        <td class="headerColumn">
            @Html.ActionLink(BoxingResources.FullName + (sort == "fullname" ? (sortOrder == "asc" ? " \u2193" : " \u2191") : string.Empty),
                             "Index",
                             new { sort = "fullname", order = (sort == "fullname" && sortOrder == "asc" ? "desc" : "asc") })
        </td>
        <td class="headerColumn">
            @Html.ActionLink("Rating" + (sort == "rating" ? (sortOrder == "asc" ? " \u2193" : " \u2191") : string.Empty),
                              "Index",
                              new
                              {
                                  sort = "rating",
                                  order = (sort == "rating" && sortOrder == "asc" ? "desc" : "asc"),
                                  skip = (page * pageSize),
                                  take = pageSize
                              })
        </td>
        <td class="headerColumn">
            @BoxingResources.Actions
        </td>
    </tr>
    @{
        var items = Model.Items;
    }
    @if (items != null)
    {
        foreach (var item in items)
        {
            <tr class="displayRow">
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td class="displayColumn">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="displayColumn">
                    <span style="color: rgb(@(255*(1 - item.Rating)), @(255*item.Rating), 0) !important;">
                        @(Convert.ToInt32(item.Rating * 100))%
                    </span>
                </td>
                <td class="actionsColumn">
                    @Html.ActionLink("Details", "Details", new { username = item.Username })
                    @if (userIsAdmin)
                    {
                        @Html.ActionLink(BoxingResources.Delete, "Delete", "Users", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete this user?')" })
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td class="noObjectsRow" colspan="2">
                @BoxingResources.NoUsersEntered
            </td>
        </tr>
    }
    <tr class="pagerTr">
        <td class="pagerTd" colspan="2">
            @Html.Pager("users", (int?)ViewData["Page"], (int?)ViewData["PageSize"], sort, sortOrder)
        </td>
    </tr>
</table>